$img_play : '../images/icons/play.png';
$img_pause : '../images/icons/pause.png';
$img_add : '../images/icons/add.png';
$img_delete : '../images/icons/delete.png';
$img_search : '../images/icons/search.png';
$img_bg : '../images/bg/norwegian_rose.png';;


@font-face {
    font-family: Soundsturm;
    src: url('../fonts/regular.otf');
}

@mixin icon-base($width:40px, $height:40px){
    background-size: $width $height;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@mixin icon-play(){
    @include icon-base();
    background-image:url($img_play);
}

@mixin icon-pause(){
    @include icon-base();
    background-image:url($img_pause);
}

@mixin icon-play-bigger(){
    @include icon-base(50px,50px);
    background-image:url($img_play);
}

@mixin icon-pause-bigger(){
    @include icon-base(50px,50px);
    background-image:url($img_pause);
}

@mixin icon-delete(){
    @include icon-base();
    background-image:url($img_delete);
}

@mixin icon-delete-small(){
    @include icon-base(30px,30px);
    background-image:url($img_delete);
}

@mixin icon-add(){
    @include icon-base(60px,60px);
    background-image:url($img_add);
}

@mixin icon-search-small(){
    @include icon-base(20px,20px);
    background-image:url($img_search);
    background-position: 98% 5px;
}

@mixin bg(){
    background-image: url($img_bg);
}
