@import "compass/css3";
@import "compass/css3/user-interface";
@import 'reset';
@import 'assets';
@import 'colors';
@import 'animations';

$tablet-and-below: "only screen and (max-width: 1024px)";
$big-enough: "only screen and (min-width: 1024px)"; 


html body{
  font-family: Soundsturm;
  height:100%; width:100%; min-height:100%;
  background-color: $standard-background-color;
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  text-align: center;
}

h1{
  font-size: 2em;
  font-weight: normal;
  text-align:center;
  margin:0.25em;
}

h2{
  font-size: 1.5em;
  font-weight: normal;
  margin:0.75em;
}

h3{
  font-size: 1.1em;
  font-weight: normal;
  margin:0.75em;
}

a{
  color: $link_color;
  &:visited{
    color: $link_color;
  };
}

input:focus
{ 
  border:solid 1px yellow;
}

header{
  @include transition(ease-out 0.5s);
  border-bottom: solid 1px #CCC;
  height: 50px;
  @include bg();
  position: relative;
  padding: 10px;

  &.hidden{
    height: 0px;
  }

  h1{
    margin:9px 0;
  }
}

.login{
  padding: 50px;
  .login-button {
    cursor: pointer;
    @include transition(ease 1.5s);
    opacity: 0.7;
    &:hover{
      opacity: 1.0;
    };
  }  
}




.github-ribbon{

  background-color:#121621;
  top:3.2em; right:-3.7em;

  @include transform(rotate(45deg));
  @include box-shadow(#1d212e 0 0 0 1px inset, #fff 0 0 2px 1px inset, #888 0 0 1em);

  color:rgba(255,255,255,0.90);
  display:block;
  padding:.6em 3.5em;
  position:absolute; z-index: 15000;
  font:bold .82em sans-serif;

  text:{
    align:center;
    decoration:none;
    shadow:1px -1px 8px rgba(0,0,0,0.60);
  }

  &:visited{
    color:rgba(255,255,255,0.90);
  }

  @include user-select(none);
}

#container {
    background-color: $standard-background-color;
    margin:-10px 0; padding: 0;
    position: relative;
    height: 100%;
    min-height: 800px;
    width: 100%;
    overflow: hidden;

    @include box-shadow(-7px 0px 17px rgba(50, 50, 50, 0.33)); 

}

.stacks {
  
  $stack-width:320px; 
  $stack-height:400px;

  .add {
      position: absolute;
      top: 0; left: 0; right: 0;
      @include icon-add();
      height: 60px; 
  }

  &.empty{
    ul > li.no-stacks { 
      display: block;
      div {
        padding-top: 50px;
      }
    }  
  }

  ul{

    padding-top: 50px;

    li.no-stacks { 
      display: none;
    }
    
    li.stack{
      position: relative;

      @include transition(ease 0.5s);
      @include make-animation(hello-there);

      &.removing {
        @include make-animation(bye-bye,0.3s);
      }

      $header-height:102px;
      $footer-height:40px;

      .header{
        position: absolute;
        left: 0; top: 0; right: 0; height: $header-height;
        background-color: $standard-background-color;
        z-index: 10001;
        border-radius: 4px 4px 0 0;
        border-bottom: solid 1px #CCC;

        padding: 5px;

        @mixin inplace-edit(){
            form{
              position:absolute;
              background-color:$standard-background-color;
              left: 0; top: 0; right:0;
              padding: 20px;
              @include box-shadow(-7px 0px 17px rgba(50, 50, 50, 0.33)); 
              
              input{
                margin-top: 9px;
                width: 80%;
                height:20px;
                color: #666;
                border: solid 1px #CCC;
                border-radius: 5px;
                padding: 5px 7px;
              }
            }
        }

        h1{
          white-space:nowrap;
          @include inplace-edit();
          text-overflow: ellipsis;
          overflow: hidden;
        }

        p{
          white-space:nowrap;
          @include inplace-edit();
          text-overflow: ellipsis;
          overflow: hidden;
        }

        input[type="text"]{
          margin-top: 4px;
          width: 80%;
          height:20px;
          color: #666;
          border: solid 1px #CCC;
          border-radius: 5px;
          padding: 5px 7px;
          @include icon-search-small();
        }
      }

      .footer{
        position: absolute;
        left: 0px; bottom: 0; right: 0; height: $footer-height;
        border-radius: 0px 0px 4px 4px;
        background-color: $standard-background-color;
        z-index: 10001;
        border-top: solid 1px #CCC;
      }

      border: solid 1px #CCC;
      width:$stack-width; height:$stack-height;
      display: inline-block;
      vertical-align: top;
      margin:20px;
      overflow: hidden;

      @mixin pleasant-surprise($color){
        border-top-color: $color;
        border-top-width: 11px;  
      }

      &.pleasant-surprise-1 { @include pleasant-surprise(#A1455F); }
      &.pleasant-surprise-2 { @include pleasant-surprise(#DB6E40); }
      &.pleasant-surprise-3 { @include pleasant-surprise(#E1AC1E); }
      &.pleasant-surprise-4 { @include pleasant-surprise(#8A9E47); }
      &.pleasant-surprise-5 { @include pleasant-surprise(#417362); }

      .list-playback-button{
        position: absolute; right: 0; top: 2px;
        
        padding: 5px;
        height: 30px;
        width: 30px;
        cursor: pointer;
      }

      .delete-stack-button {
        @include icon-delete();
        position: absolute; left: 0; top: 2px;
        
        padding: 5px;
        height: 30px;
        width: 30px;
        cursor: pointer;
      }
      
      @include box-shadow(-7px 0px 17px rgba(50, 50, 50, 0.33));
      
      &.active{
        @include transform(translate3d(0px,-20px,0px)); 
        .play{ display: none; }
        .pause{ display: block; }
      }

      .play{ display: block; @include icon-play-bigger(); }
      .pause{ display: none; @include icon-pause-bigger();}


      border-radius: 4px;
    
      ul.tracks {
        position:absolute; 
        left: 0; top: $header-height; right: 0; height: $stack-height - $header-height - $footer-height;
        z-index: 1000;
        @include box-shadow(inset 1px 1px 3px #C9C9C9);
        margin: 0;
        overflow: auto;
        padding-top: 5px;

        li.track {

          $thumb-image-size:30px;

          div.wrapper {
            position: relative;
            white-space:nowrap;
            overflow: hidden;
            padding-top: 5px; padding-left: 3px;
            border-bottom: solid 1px #CCC;
          } 

          .image-wrapper {
            height: 1px;
            text-align: left;
            img { 
              width:$thumb-image-size; margin-top: 0.2*$thumb-image-size; 
              @include transition(ease 0.5s);
            }
            overflow: visible;
          }

          h5{
            text-align: left;
            margin-left: 1.2*$thumb-image-size;
            font-size: 0.8em;
          }

          h6{
            text-align: left;
            margin-left: 1.2*$thumb-image-size;
            color: #CCC;
            font-size: 0.7em;
            margin-top: -6px;
          }

          .playback-button{
            @include transition(ease 0.5s);
            position: absolute; right: 0; top:6px;
            background-color: $standard-background-color;
            padding: 2px;
            height: 30px;
            width: 30px;
            cursor: pointer;
            opacity: 0;
          } 

          .play{ display: block; @include icon-play(); }
          .pause{ display: none; @include icon-pause();}
          .delete-button { 
            @include transition(ease 0.5s);
            opacity: 0; @include icon-delete-small();
            position: absolute;
            left: 0;
            top: 9px;
            height: 30px;
            width: 30px;
            cursor: pointer;
            z-index: 5000;
          }

          &:hover{
            .delete-button { 
              opacity: 1;
            }

            .image-wrapper {
              img{ opacity: 0; }
            }

            .playback-button {
              opacity: 1;
            }
          };

          &.playing{
            div {
              background-color: #DDD;
            }
            .play{ display: none; }
            .pause{ display: block; background-color: #DDD; }
          }

        }
      }

    }
  }
}

/* autcomplete + search results */

.ac_results {
  $thumb-image-size:20px;
  border:solid 1px #CCC;
  z-index: 10003;

  width: 262px !important;
  background-color: #FFF;
  ul {
    overflow-x:hidden; 
    li {
      display: block;
      text-align: left;
      padding: 5px; cursor: pointer;

      border-bottom: solid 1px #CCC;

      .image-wrapper {
        height: 1px;
        img{ width: $thumb-image-size; }
      }

      &:hover{
        background-color:$standard-background-color; 
      }

      h5{
        text-align: left;
        margin-left: 1.2*$thumb-image-size;
        white-space:nowrap;
        font-size: 0.7em;
        strong{
          color: #FE4800;
        }
      }
    }
  }
}



