/* Colors */

$standard-background-color:#F2F2F2;
$header-background-color:#CCC;

$redster :#B52B37;
$redster-light :#CC333F;

$bluez :#4F96B8;
$bluez-light: #59A8CE;

$sequoia: #5D4034;
$sequoia-light: #6A4A3C;

$butterscotch:#D25C39;
$butterscotch-light:#EB6841;

$eggyolk:#D4B347;
$eggyolk-light:#EDC951;

$sultana:#A0B64C;
$sultana-light:#B3CC57;

$chopstick:#E0DCA7;
$chopstick-light:#FBF6BB;

$whitey-mightey:#FFFFFF;
$soundcloud:#FE4A00;

$link_color:#59A8CE;
$earl_gray:#888;
