/* Reset */
/* line 15, _reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 25, _reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, _reset.scss */
body {
  line-height: 1em;
}

/* line 31, _reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, _reset.scss */
li {
  display: inline;
}

/* line 37, _reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, _reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end Reset*/
@font-face {
  font-family: Soundsturm;
  src: url("../fonts/regular.otf");
}

/* Colors */
@-webkit-keyframes hello-there {
  /* line 2, _animations.scss */
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }

  /* line 3, _animations.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes hello-there {
  /* line 2, _animations.scss */
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }

  /* line 3, _animations.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-moz-keyframes hello-there {
  /* line 2, _animations.scss */
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }

  /* line 3, _animations.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-o-keyframes hello-there {
  /* line 2, _animations.scss */
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }

  /* line 3, _animations.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes bye-bye {
  /* line 7, _animations.scss */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }

  /* line 8, _animations.scss */
  100% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
}

@keyframes bye-bye {
  /* line 7, _animations.scss */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }

  /* line 8, _animations.scss */
  100% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
}

@-moz-keyframes bye-bye {
  /* line 7, _animations.scss */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }

  /* line 8, _animations.scss */
  100% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
}

@-o-keyframes bye-bye {
  /* line 7, _animations.scss */
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }

  /* line 8, _animations.scss */
  100% {
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -o-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
}

/* line 12, main.scss */
html body {
  font-family: Soundsturm;
  height: 100%;
  width: 100%;
  min-height: 100%;
  background-color: #f2f2f2;
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  text-align: center;
  overflow-x: none;
}

/* line 23, main.scss */
h1 {
  font-size: 2em;
  font-weight: normal;
  text-align: center;
  margin: 0.25em;
}

/* line 30, main.scss */
h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0.75em;
}

/* line 36, main.scss */
h3 {
  font-size: 1.1em;
  font-weight: normal;
  margin: 0.75em;
}

/* line 42, main.scss */
a {
  color: #59a8ce;
}
/* line 44, main.scss */
a:visited {
  color: #59a8ce;
}

/* line 50, main.scss */
input:focus {
  border: solid 1px yellow;
}

/* line 54, main.scss */
header {
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  -ms-transition: ease-out 0.5s;
  -o-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  border-bottom: solid 1px #CCC;
  height: 50px;
  background-image: url("../images/bg/norwegian_rose.png");
  position: relative;
  padding: 10px;
}
/* line 62, main.scss */
header.hidden {
  height: 0px;
}
/* line 66, main.scss */
header h1 {
  margin: 9px 0;
}

/* line 71, main.scss */
.login {
  padding: 50px;
}
/* line 73, main.scss */
.login .login-button {
  cursor: pointer;
  -webkit-transition: ease 1.5s;
  -moz-transition: ease 1.5s;
  -ms-transition: ease 1.5s;
  -o-transition: ease 1.5s;
  transition: ease 1.5s;
  opacity: 0.7;
}
/* line 77, main.scss */
.login .login-button:hover {
  opacity: 1.0;
}

/* line 84, main.scss */
#container {
  background-color: #f2f2f2;
  margin: -10px 0;
  padding: 0;
  position: relative;
  height: 100%;
  min-height: 800px;
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
  -moz-box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
  box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
}

/* line 102, main.scss */
.stacks .add-stack-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
}
/* line 106, main.scss */
.stacks .add-stack-wrapper .add {
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/icons/add.png");
  padding: 15px;
  cursor: pointer;
}
/* line 114, main.scss */
.stacks.empty ul > li.no-stacks {
  display: block;
}
/* line 116, main.scss */
.stacks.empty ul > li.no-stacks div {
  padding-top: 50px;
}
/* line 122, main.scss */
.stacks ul {
  padding-top: 64px;
}
/* line 126, main.scss */
.stacks ul li.no-stacks {
  display: none;
}
/* line 130, main.scss */
.stacks ul li.stack {
  position: relative;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -ms-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-name: hello-there;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 50%;
  animation-name: hello-there;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  -moz-transform-origin: 50% 50%;
  -moz-animation-name: hello-there;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -o-transform-origin: 50% 50%;
  -o-animation-name: hello-there;
  -o-animation-duration: 0.5s;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: ease-out;
  border: solid 1px #CCC;
  width: 320px;
  height: 400px;
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  overflow: hidden;
  -webkit-box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
  -moz-box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
  box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
  border-radius: 4px;
}
/* line 136, main.scss */
.stacks ul li.stack.removing {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-name: bye-bye;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 50% 50%;
  animation-name: bye-bye;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  -moz-transform-origin: 50% 50%;
  -moz-animation-name: bye-bye;
  -moz-animation-duration: 0.3s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -o-transform-origin: 50% 50%;
  -o-animation-name: bye-bye;
  -o-animation-duration: 0.3s;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: ease-out;
}
/* line 143, main.scss */
.stacks ul li.stack .header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 102px;
  background-color: #f2f2f2;
  z-index: 10001;
  border-radius: 4px 4px 0 0;
  border-bottom: solid 1px #CCC;
  padding: 5px;
}
/* line 173, main.scss */
.stacks ul li.stack .header h1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 154, main.scss */
.stacks ul li.stack .header h1 form {
  position: absolute;
  background-color: #f2f2f2;
  left: 0;
  top: 0;
  right: 0;
  padding: 20px;
  -webkit-box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
  -moz-box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
  box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
}
/* line 161, main.scss */
.stacks ul li.stack .header h1 form input {
  margin-top: 9px;
  width: 80%;
  height: 20px;
  color: #666;
  border: solid 1px #CCC;
  border-radius: 5px;
  padding: 5px 7px;
}
/* line 180, main.scss */
.stacks ul li.stack .header p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* line 154, main.scss */
.stacks ul li.stack .header p form {
  position: absolute;
  background-color: #f2f2f2;
  left: 0;
  top: 0;
  right: 0;
  padding: 20px;
  -webkit-box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
  -moz-box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
  box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
}
/* line 161, main.scss */
.stacks ul li.stack .header p form input {
  margin-top: 9px;
  width: 80%;
  height: 20px;
  color: #666;
  border: solid 1px #CCC;
  border-radius: 5px;
  padding: 5px 7px;
}
/* line 187, main.scss */
.stacks ul li.stack .header input[type="text"] {
  margin-top: 4px;
  width: 80%;
  height: 20px;
  color: #666;
  border: solid 1px #CCC;
  border-radius: 5px;
  padding: 5px 7px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/icons/soundcloud.png");
  background-position: 98% 5px;
}
/* line 199, main.scss */
.stacks ul li.stack .footer {
  position: absolute;
  left: 0px;
  bottom: 0;
  right: 0;
  height: 40px;
  border-radius: 0px 0px 4px 4px;
  background-color: #f2f2f2;
  z-index: 10001;
  border-top: solid 1px #CCC;
}
/* line 220, main.scss */
.stacks ul li.stack.pleasant-surprise-1 {
  border-top-color: #a1455f;
  border-top-width: 11px;
}
/* line 221, main.scss */
.stacks ul li.stack.pleasant-surprise-2 {
  border-top-color: #db6e40;
  border-top-width: 11px;
}
/* line 222, main.scss */
.stacks ul li.stack.pleasant-surprise-3 {
  border-top-color: #e1ac1e;
  border-top-width: 11px;
}
/* line 223, main.scss */
.stacks ul li.stack.pleasant-surprise-4 {
  border-top-color: #8a9e47;
  border-top-width: 11px;
}
/* line 224, main.scss */
.stacks ul li.stack.pleasant-surprise-5 {
  border-top-color: #417362;
  border-top-width: 11px;
}
/* line 226, main.scss */
.stacks ul li.stack .list-playback-button {
  position: absolute;
  right: 0;
  top: 2px;
  padding: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
/* line 235, main.scss */
.stacks ul li.stack .delete-stack-button {
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/icons/delete.png");
  position: absolute;
  left: 0;
  top: 2px;
  padding: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
/* line 247, main.scss */
.stacks ul li.stack.active {
  -webkit-transform: translate3d(0px, -20px, 0px);
  -moz-transform: translate3d(0px, -20px, 0px);
  -ms-transform: translate3d(0px, -20px, 0px);
  -o-transform: translate3d(0px, -20px, 0px);
  transform: translate3d(0px, -20px, 0px);
}
/* line 249, main.scss */
.stacks ul li.stack.active .play {
  display: none;
}
/* line 250, main.scss */
.stacks ul li.stack.active .pause {
  display: block;
}
/* line 253, main.scss */
.stacks ul li.stack .play {
  display: block;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/icons/play.png");
}
/* line 254, main.scss */
.stacks ul li.stack .pause {
  display: none;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/icons/pause.png");
}
/* line 259, main.scss */
.stacks ul li.stack ul.tracks {
  position: absolute;
  left: 0;
  top: 102px;
  right: 0;
  height: 258px;
  z-index: 1000;
  -webkit-box-shadow: inset 1px 1px 3px #c9c9c9;
  -moz-box-shadow: inset 1px 1px 3px #c9c9c9;
  box-shadow: inset 1px 1px 3px #c9c9c9;
  margin: 0;
  overflow: auto;
  padding-top: 5px;
}
/* line 272, main.scss */
.stacks ul li.stack ul.tracks li.track div.wrapper {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 5px;
  padding-left: 3px;
  border-bottom: solid 1px #CCC;
}
/* line 280, main.scss */
.stacks ul li.stack ul.tracks li.track .image-wrapper {
  height: 1px;
  text-align: left;
  overflow: visible;
}
/* line 283, main.scss */
.stacks ul li.stack ul.tracks li.track .image-wrapper img {
  width: 30px;
  margin-top: 6px;
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -ms-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
}
/* line 290, main.scss */
.stacks ul li.stack ul.tracks li.track h5 {
  text-align: left;
  margin-left: 36px;
  font-size: 0.8em;
}
/* line 296, main.scss */
.stacks ul li.stack ul.tracks li.track h6 {
  text-align: left;
  margin-left: 36px;
  color: #CCC;
  font-size: 0.7em;
  margin-top: -6px;
}
/* line 304, main.scss */
.stacks ul li.stack ul.tracks li.track .playback-button {
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -ms-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
  position: absolute;
  right: 0;
  top: 6px;
  background-color: #f2f2f2;
  padding: 2px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  opacity: 0;
}
/* line 315, main.scss */
.stacks ul li.stack ul.tracks li.track .play {
  display: block;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/icons/play.png");
}
/* line 316, main.scss */
.stacks ul li.stack ul.tracks li.track .pause {
  display: none;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/icons/pause.png");
}
/* line 317, main.scss */
.stacks ul li.stack ul.tracks li.track .delete-button {
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -ms-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
  opacity: 0;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/icons/delete.png");
  position: absolute;
  left: 0;
  top: 9px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 5000;
}
/* line 330, main.scss */
.stacks ul li.stack ul.tracks li.track:hover .delete-button {
  opacity: 1;
}
/* line 335, main.scss */
.stacks ul li.stack ul.tracks li.track:hover .image-wrapper img {
  opacity: 0;
}
/* line 338, main.scss */
.stacks ul li.stack ul.tracks li.track:hover .playback-button {
  opacity: 1;
}
/* line 344, main.scss */
.stacks ul li.stack ul.tracks li.track.playing div {
  background-color: #DDD;
}
/* line 347, main.scss */
.stacks ul li.stack ul.tracks li.track.playing .play {
  display: none;
}
/* line 348, main.scss */
.stacks ul li.stack ul.tracks li.track.playing .pause {
  display: block;
  background-color: #DDD;
}

/* autcomplete + search results */
/* line 360, main.scss */
.ac_results {
  border: solid 1px #CCC;
  z-index: 10003;
  width: 262px !important;
  background-color: #FFF;
}
/* line 367, main.scss */
.ac_results ul {
  overflow-x: hidden !important;
}
/* line 369, main.scss */
.ac_results ul li {
  display: block;
  text-align: left;
  padding: 5px;
  cursor: pointer;
  border-bottom: solid 1px #CCC;
}
/* line 376, main.scss */
.ac_results ul li .image-wrapper {
  height: 1px;
}
/* line 378, main.scss */
.ac_results ul li .image-wrapper img {
  width: 20px;
}
/* line 381, main.scss */
.ac_results ul li:hover {
  background-color: #f2f2f2;
}
/* line 385, main.scss */
.ac_results ul li h5 {
  text-align: left;
  margin-left: 24px;
  white-space: nowrap;
  font-size: 0.7em;
}
/* line 390, main.scss */
.ac_results ul li h5 strong {
  color: #FE4800;
}

/* line 400, main.scss */
#bookmarker {
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/icons/bookmark.png");
  position: absolute;
  left: 58px;
  top: -7px;
  z-index: 15000;
  padding: 10px;
  border: dotted 1px #CCC;
  border-radius: 5px;
  cursor: move;
  height: 30px;
  width: 30px;
  -webkit-box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
  -moz-box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
  box-shadow: -7px 0px 17px rgba(50, 50, 50, 0.33);
  font-size: 0;
  text-decoration: none;
}
